/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;
#include "pl.dtsi"
#include "zynq-7000.dtsi"

/ {
	model = "Zynq Zed Development Board";
	compatible = "xlnx,zynq-zed", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		serial1 = &uart0;
		serial2 = &axi_uart16550_0;
		serial3 = &axi_uart16550_1;
		serial4 = &axi_uart16550_2;
		spi0 = &qspi;
		mmc0 = &sdhci0;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	chosen {
		/*bootargs = "noinitrd root=/dev/mmcblk0p2 rw earlyprintk rootfstype=ext3 rootwait devtmpfs.mount=1";*/
		bootargs = "noinitrd root=/dev/mtdblock7 rw earlyprintk rootfstype=jffs2 rootwait devtmpfs.mount=1";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};

&clkc {
	fclk-enable = <0x1>;
	ps-clk-frequency = <33333333>;
};

&gem0 {
	local-mac-address = [00 0a 35 00 00 00];
	phy-mode = "rgmii-id";
	status = "okay";
	xlnx,ptp-enet-clock = <0x69f6bcb>;
};

&gpio0 {
	emio-gpio-width = <6>;
	gpio-mask-high = <0x0>;
	gpio-mask-low = <0x5600>;
};

&qspi {
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;
	flash@0 {
		compatible = "n25q128a11";
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		partition@qspi-fsbl-uboot {
			label = "qspi-fsbl-uboot";
			reg = <0x0 0x100000>;
		};
		partition@qspi-linux {
			label = "qspi-linux";
			reg = <0x100000 0x500000>;
		};
		partition@qspi-device-tree {
			label = "qspi-device-tree";
			reg = <0x600000 0x20000>;
		};
		partition@qspi-rootfs {
			label = "qspi-rootfs";
			reg = <0x620000 0x5E0000>;
		};
		partition@qspi-bitstream {
			label = "qspi-bitstream";
			reg = <0xC00000 0x400000>;
		};
	};
};

&sdhci0 {
	status = "okay";
};

&uart0 {
	current-speed = <115200>;
	device_type = "serial";
	status = "okay";
};

&uart1 {
	current-speed = <115200>;
	device_type = "serial";
	status = "okay";
};

&axi_uart16550_0 {
	current-speed = <115200>;
	device_type = "serial";
	status = "okay";
};

&axi_uart16550_1 {
	current-speed = <115200>;
	device_type = "serial";
	status = "okay";
};

&axi_uart16550_2 {
	current-speed = <115200>;
	device_type = "serial";
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&smcc {
	status = "okay";
};

&nand0 {
	status = "okay";
};

&i2c0 {
    status = "okay";
    dtt@48 {
        compatible = "national,lm75";
        reg = <0x48>;
    };
    eeprom@28 {
        compatible = "at,24c08";
        reg = <0x28>;
    };
    i2c-switch@70 {
        compatible = "nxp,pca9542";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x70>;
        i2c-mux-idle-disconnect;

        i2c@0 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
            tmp423@4c {
                compatible = "ti,tmp423";
                reg = <0x4c>;
            };
        };

        i2c@1 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <1>;

            tmp423@4c {
                compatible = "ti,tmp423";
                reg = <0x4c>;
            };
        };
    };

    i2c-switch@71 {
        compatible = "nxp,pca9542";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x71>;
        i2c-mux-idle-disconnect;

        i2c@0 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
            tmp423@4c {
                compatible = "ti,tmp423";
                reg = <0x4c>;
            };
        };

        i2c@1 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <1>;

            tmp423@4c {
                compatible = "ti,tmp423";
                reg = <0x4c>;
            };
        };
    };

    i2c-switch@72 {
        compatible = "nxp,pca9542";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x72>;
        i2c-mux-idle-disconnect;

        i2c@0 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
            tmp423@4c {
                compatible = "ti,tmp423";
                reg = <0x4c>;
            };
        };

        i2c@1 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <1>;

            tmp423@4c {
                compatible = "ti,tmp423";
                reg = <0x4c>;
            };
        };
    };
};

&i2c1 {
    status = "okay";
    eeprom@50 {
        compatible = "at,24c08";
        reg = <0x50>;
    };
};

