/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;
#include "pl.dtsi"
#include "zynq-7000.dtsi"

/ {
	model = "Zynq Zed Development Board";
	compatible = "xlnx,zynq-zed", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		serial1 = &uart0;
		serial2 = &axi_uart16550_0;
		serial3 = &axi_uart16550_1;
		serial4 = &axi_uart16550_2;
		spi0 = &qspi;
		mmc0 = &sdhci0;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};

	chosen {
		/*bootargs = "noinitrd root=/dev/mmcblk0p2 rw earlyprintk rootfstype=ext3 rootwait devtmpfs.mount=1";*/
		bootargs = "noinitrd ubi.mtd=7 root=ubi0:rootfs ro earlyprintk rootfstype=ubifs rootwait devtmpfs.mount=1 isolcpus=1";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};

&clkc {
	fclk-enable = <0x1>;
	ps-clk-frequency = <33333333>;
};

&gem0 {
	local-mac-address = [00 0a 35 00 00 00];
	phy-mode = "rgmii-id";
	status = "okay";
	xlnx,ptp-enet-clock = <0x69f6bcb>;
};

&gpio0 {
	emio-gpio-width = <6>;
	gpio-mask-high = <0x0>;
	gpio-mask-low = <0x5600>;
};

&qspi {
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;
	flash@0 {
		compatible = "n25q128a11";
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		partition@qspi-fsbl-uboot {
			label = "qspi-fsbl-uboot";
			reg = <0x0 0x100000>;
		};
		partition@qspi-linux {
			label = "qspi-linux";
			reg = <0x100000 0x500000>;
		};
		partition@qspi-device-tree {
			label = "qspi-device-tree";
			reg = <0x600000 0x20000>;
		};
		partition@qspi-rootfs {
			label = "qspi-rootfs";
			reg = <0x620000 0x5E0000>;
		};
		partition@qspi-bitstream {
			label = "qspi-bitstream";
			reg = <0xC00000 0x400000>;
		};
	};
};

&sdhci0 {
	status = "okay";
};

&uart0 {
	current-speed = <115200>;
	device_type = "serial";
	status = "okay";
};

&uart1 {
	current-speed = <115200>;
	device_type = "serial";
	status = "okay";
};

&axi_uart16550_0 {
	current-speed = <115200>;
	device_type = "serial";
	status = "okay";
};

&axi_uart16550_1 {
	current-speed = <115200>;
	device_type = "serial";
	status = "okay";
};

&axi_uart16550_2 {
	current-speed = <115200>;
	device_type = "serial";
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&smcc {
	status = "okay";
};

&nand0 {
	status = "okay";
};

&i2c0 {
    status = "okay";
    clock-frequency = <100000>;

    eeprom@28 {
        compatible = "at,24c08";
        reg = <0x28>;
    };

    dcdc@28 {
        compatible = "isl,dc-dc";
        reg = <0x28>;
        io0 = <934>;	//enable
        io1 = <939>;
        io2 = <937>;
        sel0 = <960>;
        sel1 = <962>;
        sel2 = <964>;

        s9_io0 = <941>;
        s9_io1 = <940>;
        s9_io2 = <939>;
        s9_sel0 = <961>;
        s9_sel1 = <963>;
        s9_sel2 = <965>;
    };

    dcdc0@50 {
        compatible = "isl,dc-dc","atmel,24c01";
        reg = <0x50>;
        pagesize = <8>;
        slot = <0>;//one by one, max = 3
        io = <934>;
    };

    dcdc1@51 {
        compatible = "isl,dc-dc","atmel,24c01";
        reg = <0x51>;
        pagesize = <8>;
        slot = <1>;
        io = <939>;

        s9_slot = <2>;
        s9_io = <939>;
    };

    dcdc2@52 {
        compatible = "isl,dc-dc","atmel,24c01";
        reg = <0x52>;
        pagesize = <8>;
        slot = <2>;
        io = <937>;

        s9_slot = <1>;
        s9_io = <940>;
    };

    dcdc0@53 {
        compatible = "isl,dc-dc","atmel,24c01";
        reg = <0x53>;
        pagesize = <8>;
        s9_slot = <0>;
        s9_io = <941>;
    };

    eeprom@54 {
        compatible = "atmel,24c01";
        reg = <0x54>;
        pagesize = <8>;
        slot = <0>;
    };
    
    eeprom@55 {
        compatible = "atmel,24c01";
        reg = <0x55>;
        pagesize = <8>;
        slot = <1>;
        s9_slot = <2>;
    };

    eeprom@56 {
        compatible = "atmel,24c01";
        reg = <0x56>;
        pagesize = <8>;
        slot = <2>;
        s9_slot = <1>;
    };

    eeprom@57 {
        compatible = "atmel,24c01";
        reg = <0x57>;
        pagesize = <8>;
        s9_slot = <0>;
    };

    lm75@48 {
        compatible = "national,lm75";
        reg = <0x48>;
    };

    lm75@49 {
        compatible = "national,lm75";
        reg = <0x49>;
    };

    lm75@4a {
        compatible = "national,lm75";
        reg = <0x4a>;
    };

    lm75@4b {
        compatible = "national,lm75";
        reg = <0x4b>;
    };

    tmp421@40 {
        compatible = "ti,tmp421";
        reg = <0x40>;
    };
    tmp421@41 {
        compatible = "ti,tmp421";
        reg = <0x41>;
    };
    tmp421@42 {
        compatible = "ti,tmp421";
        reg = <0x42>;
    };

    i2c-switch@70 {
        compatible = "nxp,pca9542";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x70>;
        i2c-mux-idle-disconnect;

        i2c@0 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
            tmp423@44 {
                compatible = "ti,tmp423";
                reg = <0x44>;
            };
        };

        i2c@1 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <1>;

            tmp423@44 {
                compatible = "ti,tmp423";
                reg = <0x44>;
            };
        };
    };

    i2c-switch@71 {
        compatible = "nxp,pca9542";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x71>;
        i2c-mux-idle-disconnect;

        i2c@0 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
            tmp423@44 {
                compatible = "ti,tmp423";
                reg = <0x44>;
            };
        };

        i2c@1 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <1>;

            tmp423@44 {
                compatible = "ti,tmp423";
                reg = <0x44>;
            };
        };
    };

    i2c-switch@72 {
        compatible = "nxp,pca9542";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x72>;
        i2c-mux-idle-disconnect;

        i2c@0 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;
            tmp423@44 {
                compatible = "ti,tmp423";
                reg = <0x44>;
            };
        };

        i2c@1 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <1>;

            tmp423@44 {
                compatible = "ti,tmp423";
                reg = <0x44>;
            };
        };
    };
};

&i2c1 {
    status = "okay";
    eeprom@28 {
        compatible = "at,24c08";
        reg = <0x28>;
    };

    p6@2c {
        compatible = "gp,p6-power";
        reg = <0x2c>;
    };

    general_power@55 {
        compatible = "gp,general_power";
        reg = <0x55>;
    };
    meic@5a {
        compatible = "gp,meic-power";
        reg = <0x5a>;
    };
    huntkey@58 {
        compatible = "gp,huntkey-power";
        reg = <0x58>;
    };
};

&watchdog0 {
    status = "okay";
    reset-on-timeout;
};
